<!-- 1) Theme CSS (with your SVG bg) -->
<link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">

<!-- 2) Google Fonts for DM Sans & Libre Franklin -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=DM+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<!-- 3) Cinzel Font font-family: "Cinzel", serif;  & font-optical-sizing: auto; & font-weight: <weight>; 400-900 & font-style: normal;  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">

<!-- 4) Philosopher (-Regular, Bold, Regular-Italic, Bold-Italic) &  font-family: "Philosopher", sans-serif; & font-weight: 400 and 700; font-style: normal&italic; -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<!--  -->


<!-- 3) Your custom overrides -->
<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">


<!--  -->